/*
   Name: Brick-Grid-SCSS
   Description: Base styles for Brick-Grid-SCSS demo
   Author: Andor Nagy
*/

body {
   background-color: rgb(34, 34, 34);
}

.container {
   max-width: 1080px;
   margin: 100px auto;
}

.cell {
   border: 1px solid #efefef;
   padding: 10px;
   text-align: center;
   font-size: 25px;
   color: rgb(34, 34, 34);
   background-color: #efefef;
   min-height: 100px;
}