@use "sass:math";

// number of color variants
$color-variants: 9;

@each $key, $val in $colors {
   .text-#{$key} {
      color: $val;
   }
   .text-hover-#{$key} {
      &:hover {
         color: $val;
      }
   }
   .bg-#{$key} {
      background-color: $val;
   }

   @if ($val != black and $val != white) {
      // light variations
      @for $i from 1 through $color-variants {
         .text-#{$key}-light-#{$i} {
            color: lighten($val, $i * 10);
         }
         .text-hover-#{$key}-light-#{$i} {
            &:hover {
               color: lighten($val, $i * 10);
            }
         }
         .bg-#{$key}-light-#{$i} {
            background-color: lighten($val, $i * 10);
         }
      }

      // dark variations
      @for $i from 1 through $color-variants {
         .text-#{$key}-dark-#{$i} {
            color: darken($val, $i * 10);
         }
         .text-hover-#{$key}-dark-#{$i} {
            &:hover {
               color: darken($val, $i * 10);
            }
         }
         .bg-#{$key}-dark-#{$i} {
            background-color: darken($val, $i * 10);
         }
      }
   }
}
