@use "breakpoints" as *;
@use "variables" as *;
@use "config" as *;

$grid-gaps: (
	"0": 0,
	"1": $base-margin,
	"2": $base-margin * 2,
	"3": $base-margin * 3,
);

.grid-x {
	display: grid;
	grid-template-columns: repeat($grid-columns, 1fr);
	& > div {
		border: solid $base-border-thickness #969696;
		padding: $base-padding;
	}
}

@each $key, $val in $grid-gaps {
	.grid-gap-#{$key} {
		grid-gap: $val;
	}
}

// col classes
@each $size in $sizes {
	@include breakpoint($size) {
		@for $i from 1 through $grid-columns {
			.#{$size}-#{$i} {
				box-sizing: border-box;
				grid-column: span $i;
			}
		}
	}
}
